<% if @service.errors.any? %>
  <%= render 'layouts/form_error', model: @service %>
<% end %>

<%= form_for @service, html: { class: 'ui form' } do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: 'Service name' %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: 'Service description' %>
  </div>

  <%= f.fields_for :price_records, @service.most_recent_price_record do |pr_f| %>
    <div class="field">
      <%= pr_f.text_field :monthly_price, placeholder: 'Monthly price' %>
    </div>
  <% end %>

  <%= f.submit class: "ui primary button" %>
<% end %>
