                               <h1>Dashboard</h1>
                       <h2> Your personal spending profile </h2>

<h2> Your active subscriptions: <%= @active_subscriptions %> </h2><br>
<h2> Subscription with highest monthly fee: <%= @most_expensive_service %> </h2><br>
<h2> Total spent on (all) subscriptions: £<%= @lifetime_spend%> </h2><br>
<h2> Spending for the current month: £<%= @total_spend_current_month %></h2><br>
<h2> Breakdown of spending: <%= @total_spend_by_subscription%> </h2><br>
<h2> Subscriptions you've cancelled: <%= @cancelled_services %> </h2><br>

<h2> Predictions for future spending, based on your active subscriptions and estimated increases
  in subscription prices. </h2><br>

<h2> Predicted spending for the next month: £<%= @predicted_spend_next_month %>  </h2>
<h2> Predicted spending for 3 months from now: £<%= @predicted_spend_3_months %>  </h2>
<h2> Predicted spending for 6 months from now: £<%= @predicted_spend_6_months %>  </h2><br>

<h2> <%= @most_addictive_three %> </h2>
<h2> <%= @most_expensive_three %> </h2>
