<div class="ui attached stackable menu">
  <div class="ui container">
    <% if logged_in? %>
      <a class="item" href="<%= dashboards_path %>">
        <i class="dashboard icon"></i> Dashboard
      </a>
    <% else %>
      <a class="item" href="<%= root_path %>">
        <i class="home icon"></i> Welcome to Economize
      </a>
    <% end %>
    <div class="ui simple dropdown item">
      <i class="newspaper icon"></i>
      Services
      <i class="dropdown icon"></i>
      <div class="menu">
        <% if logged_in? %>
          <%= link_to raw('<i class="add icon"></i> Add New Service'), new_service_path, class: 'item' %>
          <hr>
        <% end %>
        <%= link_to raw('<i class="list icon"></i> All Services'), services_path, class: 'item' %>
        <%= link_to raw('<i class="chart area icon"></i> Service Statistics'), service_stats_path, class: 'item' %>
      </div>
    </div>

   <% if logged_in? %>
      <div class="ui simple dropdown item">
        <i class="handshake icon"></i>
        Manage my subscriptions
        <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to raw('<i class="add icon"></i> Add New Subscription'), new_user_subscription_path(current_user.id), class: 'item' %>
          <hr>
          <%= link_to raw('<i class="list icon"></i> My Subscriptions'), user_subscriptions_path(current_user), class: 'item' %>
          <%= link_to raw('<i class="file archive icon"></i> My Subscription History'), user_archive_subscriptions_path(current_user), class: 'item' %>
        </div>
      </div>
    <% end %>
    <% if logged_in? %>
      <div class="ui simple dropdown right item">
        <%= current_user.first_name %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="<%= edit_user_path(current_user) %>"><i class="edit icon"></i> Edit Profile</a>
          <hr>
          <%= link_to raw('<i class="logout icon"></i> Sign Out'), signout_path, method: :delete, class: 'item' %>
        </div>
      </div>
    <% else %>
      <div class="right menu">
        <a class="item" href="<%= signin_path %>"><i class="sign-in icon"></i> Sign In </a>
        <a class="item" href="<%= signup_path %>"><i class="signup icon"></i> Sign Up </a>
      </div>
    <% end %>
  </div>
</div>
